# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# Diretórios do ambiente
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test

# Cache do npm e Yarn
.npm/
.yarn/

# Builds e artefatos de saída
dist/
build/
coverage/

# Arquivos de IDE
.idea/
.vscode/

# Outros arquivos desnecessários
*.tgz
*.zip